
header {
	background: $main;
	height: 80px;

	.fullnav {
		height: 75px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.logo {
			font-size: 2rem;
			
			a {
				color: $white;
				text-decoration: none;
			}
		}

		nav {

			a {
				color: $white;
				padding: 1rem 1rem;
				text-decoration: none;
				transition: all 300ms ease-in-out;

				&:hover {
					background: lighten($main, 15%);
				}
			}
		}
	}
}